/* .lessons {
  border-bottom: lightgray solid 1px;
}

@media (max-width: 767px) { 
   #dashcard {
      background-color: blueviolet; 
  
  .lessons {
    border-bottom: lightgray solid 1px;
  }
} */