.Login{
    /* margin: auto; */
    /* position: 'absolute';
    left: '50%';
    top: '50%'; */
        /* transform: translate(-50%, -50%); */
      /* //background-image: url('./welcome.png'); */
      height:200px;
      background-color: white; 
      width:200px;
      
}
.welcome{
    height:110px;
    width:110px;
}
#loginBut{
    background-color: rgba(22, 69, 114, 0.911);
    box-shadow: 5px 10px #888888;
}