.org-select{
  width: 150px;
  color:black;
}
.proj-select{
  width:150px;
}
#links, #attach {
  width: 200px;
}

#closeBtn{
float:right;
}

#submit {
  margin-top: 30px;
  margin-bottom: 50px; 
}

.invalid {
  border-color: red;
}

.valid {
  border-color: green;
}


button {
  height: 40px;
  box-shadow: 2px 4px #888888;
  background-color: rgba(22, 69, 114, 0.911);
}
#addNew{
  background-color: rgba(22, 69, 114, 0.911);
}
#title{
  border:solid;
  box-shadow: 2px 4px   #888888;
}
#objective{
  border:solid;
}
#overview{
  border:solid;
}
#preparation{
  border:solid;
}
#agenda{
  border:solid;
}
#materials{
  border:solid;
}
#description{
  border:solid;
}
#submit{
  background-color: rgba(22, 69, 114, 0.911);
}

.error {
  display: flex;
  color: red;
  text-align: center;
  margin-bottom: 8px;
}

.saveModal{
  width:500px;
  height:200px;
  margin: auto;
  margin-top:100px;
  display: block;
  box-shadow: 2px 4px #888888;
  background-color: rgba(22, 69, 114, 0.5)
}
.saveConfirm{
  text-align: center;
}