input, textarea {
  margin-bottom: 20px;
}

#links, #attach {
  width: 200px;
}

#submit {
  margin-top: 30px;
}

.invalid {
  border-color: red;
}

.valid {
  border-color: green;
}

button {
  height: 40px;
}